/*https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div */

/*
*  position: relative gives a new position context
*/
.wrapper {
    position: relative;
  }
  
  /*
  *  Position the keypad element using the top-left
  *  of the .wrapper element
  */
  .keypad {
    position: absolute;
    top: 5px;
    left: 0;
  }

  input {
    background-color: transparent;
    color: #42D6CA;
  }